{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <h3 class="text-center">Register Here</h3>
<form class="form col-md-4 mt-2" method="post">
    {% csrf_token %}
    <label class="form-label" for="form3Example1c">User Name</label>
    <input type="text" id="form3Example1c" class="form-control form-control sm" name="user_name" required/>
    <label class="form-label" for="form3Example1a">First Name</label>
    <input type="text" id="form3Example1a" class="form-control" name="first_name" required/>
    <label class="form-label" for="form3Example1b">Last Name</label>
    <input type="text" id="form3Example1b" class="form-control" name="last_name" />
    <label class="form-label" for="form3Example3c">Your Email</label>
    <input type="email" id="form3Example3c" class="form-control" name="email_id" required/>
    <label class="form-label" for="form3Example4c">Password</label>
    <input type="password" id="form3Example4c" class="form-control" name="pass1" required/>
    <label class="form-label" for="form3Example4cd">Repeat your password</label>
    <input type="password" id="form3Example4cd" class="form-control" name="pass2" required/>

                <div class="text-danger m-2">
                  {% for msg in messages %}
                  {{msg}}
                  {% endfor %}

                </div>
    <button type="submit" class="btn btn-primary btn-lg mt-2">Register</button>
</form>
</div>
</div>

{% endblock %}